.panel {
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: default;
    transform: translate(100%, 0);
    z-index: 10;
}
.message {
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: default;
    transform: translate(100%, 0);
    font-size: small;
    color: gray;
}
.potentialLinkControls {
    position: absolute;
    /* min-width: 150px; */
    /* opacity: 0.75; */
    z-index: 10;
    /* transform: translate(100%, 0); */
}
