.panel {
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: default;
    transform: translate(100%, 0);
    z-index: 10;
}
.message {
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: default;
    transform: translate(100%, 0);
    font-size: small;
    color: gray;
}
