.container{
    box-sizing: border-box;
    padding: 10px;
    border:1px solid white;
    border-radius: 3px;

}
.container:hover{
    border:1px solid #BDBDBD;
}
.draggable{
    cursor: grab;
}
.draggable:active {
    cursor: grabbing;
    background-color: white;
}