.link {
  /* color: #707070; */
  cursor: pointer;
  /* font-weight: bold; */
  /* background-color: #e8e8e8; */
  border-bottom: 2px solid #4FC3F7;
}
.link:hover {
  border-bottom: 4px solid #4FC3F7;
  /* font-weight: bold; */
}
